* {
  box-sizing: border-box;
}

.grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  border: 1px solid black;
}

.link-container,
.form-container,
.decode-section {
  margin-top: 50px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 10px;
  box-shadow: 4px 2px 11px 0px black;
}

@media (min-width: 576px) {
  .form-container,
  .link-container,
  .decode-section {
    width: 600px;
  }
}

.form-container > *,
.link-container > * {
  margin: 7px;
  font-family: monospace;
}

label {
  font-weight: bold;
}

input[type='text'] {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid black;
  outline: none;
}

.copy-btn,
input[type='submit'] {
  width: fit-content;
  border: none;
  background-color: teal;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: 14px;
  font-family: sans-serif;
  margin-bottom: 20px;
}

#link-input::selection {
  background-color: rgb(192, 224, 140);
}

.goto {
  border: none;
  background-color: green;
  color: white;
  padding: 10px 0;
  border-radius: 5px;
}

.hide {
  display: none;
}
